@import '../../../assets/sass/variables.scss';
@import '../../../assets/sass/predef.scss';

.btn-filtro{
	color: #fff;
	background: $color-primario;
	border-radius: 20px;
	width: auto;
	font-size: .9rem;
	padding: 5px 20px;
	font-weight: 600;
	cursor: pointer;
}

.btn-filtro:hover{
	border: 1px solid $color-primario;
	background: #fff;
	color: $color-primario;
}

.contenedor-alarmas{
	width: 100%;
	height: fit-content;
	// overflow-y: scroll;
	// @extend %custom-scroll-bar;
}

.alarma{
	position: relative;
	box-sizing: border-box;
	width: 98%;
	margin: 0px auto ;
	padding: 8px 10px;
	border-bottom: 1px solid #e4e4e4;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.alarma:hover{
	background: #eeeeee;
}

.alarma:last-child{
	border: none;
}

.alarma__fechas{
	display: flex;
	flex-direction: column;
}

.alarma__nombre{
	font-weight: 500;
}

.informacion-adicional{
	width: 98%;
	margin: 0px auto ;
	background: rgb(248, 248, 248);
	height: 0;
	overflow: hidden;
	padding: 0 10px;
}

.informacion-adicional p{
	padding: 8px 10px;
}

.identifier{
	height: 100%;
	width: 4px;
	position: absolute;
	top: 0;
	left: 0;
}

.identifier-active{
	background-color: $color-primario;
}

.column-detail{
	display: table-row;
}

.column-detail > span:first-child{
	font-weight: 600;
	display: table-cell;
}

.column-detail > span:last-child{
	display: table-cell;
	padding-left: 20px;
}

.filtros{
	width: 100%;
	height: 0;
	overflow: hidden;
	border-left: 4px solid #fd000d; 
	background: rgb(253, 253, 253)
}

.filtros > div{
	display: table-row;
}

.filtros > div:first-child{
	padding-top: 10px;
}

.filtros > div:last-child{
	padding-bottom: 10px;
}

.filtros > div > label,
.filtros > div > input,
.filtros > div > select{
	display: table-cell;
	padding-left: 25px;
}

.filtros > div > input,
.filtros > div > select{
	margin-left: 12px;
	border:none;
	border-bottom: 1px solid #9c9c9c;
	font-size: .8rem;
	width: 150px;
	padding: 2px 0px;
	color: #808080;
}

.filtros > div > label{
	font-size: .9rem;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
}

.btn-generar-reporte{
	border-radius: 25px;	
	background: #fd000d ; 
	color: #fff;
	font-size: .9rem;
	margin-right: 10px;
	font-weight: 600;
	box-sizing: border-box;
	padding: 5px 20px;
	font-weight: 600;
	cursor: pointer;
}

.btn-generar-reporte:hover{
	border: 1px solid $color-primario;
	background: #fff;
	color: $color-primario;
}

.contenedor-paginacion{
	margin-top: 30px;
}

.contenedor-paginacion button{
	background: $color-primario;
	padding: 5px 20px;
	border: none;
	margin: 0 4px;
	cursor: pointer;
	font-weight: 600;
	font-size: .9rem;
	color: #fff;
	user-select: none;
}

.contenedor-paginacion button:hover{
	box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}

.contenedor-paginacion button[disabled]{
	opacity: 0.5;
}
