<div class="row">
	<div class="col-12 adm-alertas">
		<ngb-tabset>
			<ngb-tab>
				<ng-template ngbTabTitle><span class="option-tab">Administración de alarmas</span></ng-template>
				<ng-template ngbTabContent>
					<app-administracion-alarmas></app-administracion-alarmas>
				</ng-template>
			</ngb-tab>

			<ngb-tab>
				<ng-template ngbTabTitle><span class="option-tab">Configuración de tipo de alarma</span></ng-template>
				<ng-template ngbTabContent>
					<app-configuracion-alarmas></app-configuracion-alarmas>
				</ng-template>
			</ngb-tab>
			
		</ngb-tabset>
	</div>
</div>