.no-content-container{
	width: 100%;
	height: auto;
	background: #f3f3f3;
}

.no-content-img-wrapp{
	width: 50px;
	padding-top: 12px;
	margin: 0 auto;
}

.no-content-img-wrapp img{
	width: 100%;
	vertical-align: top;
}

.no-content-text{
	margin-top: 10px;
	color: #4d4d4d;
	font-size: .95rem;
	text-align: center;
	padding-bottom: 12px;
}

