
<div class="row">
	<div class="col-12 adm-alertas">
		<ngb-tabset>

			<ngb-tab>
				<ng-template ngbTabTitle><span class="option-tab"> Creación Nueva Alarma </span></ng-template>
				<ng-template ngbTabContent>
					<app-nueva-alarma></app-nueva-alarma>
				</ng-template>
			</ngb-tab>

      <ngb-tab>
				<ng-template ngbTabTitle><span class="option-tab"> Consulta de Alarmas </span></ng-template>
				<ng-template ngbTabContent>
					<app-consulta-alarmas></app-consulta-alarmas>
				</ng-template>
			</ngb-tab>

      <ngb-tab>
				<ng-template ngbTabTitle><span class="option-tab"> Reporte de Alarmas </span></ng-template>
				<ng-template ngbTabContent>
					<app-reporte-alarmas></app-reporte-alarmas>
				</ng-template>
			</ngb-tab>

		</ngb-tabset>
	</div>
</div>
