
<div class="row">
	<div class="col-12 adm-alertas">
		<ngb-tabset>

			<ngb-tab>
				<ng-template ngbTabTitle><span class="option-tab"> Gestión de Atribuible </span></ng-template>
				<ng-template ngbTabContent>
					<app-atribuible></app-atribuible>
				</ng-template>
			</ngb-tab>

      <ngb-tab>
				<ng-template ngbTabTitle><span class="option-tab"> Gestión de Detalle </span></ng-template>
				<ng-template ngbTabContent>
					<app-detalle></app-detalle>
				</ng-template>
			</ngb-tab>

      <ngb-tab>
				<ng-template ngbTabTitle><span class="option-tab"> Gestión de Tipo de Evento </span></ng-template>
				<ng-template ngbTabContent>
					<app-tipo-evento></app-tipo-evento>
				</ng-template>
			</ngb-tab>

      <ngb-tab>
				<ng-template ngbTabTitle><span class="option-tab"> Gestión de Tipo de Problema </span></ng-template>
				<ng-template ngbTabContent>
					<app-tipo-problema></app-tipo-problema>
				</ng-template>
			</ngb-tab>

		</ngb-tabset>
	</div>
</div>
