.color-pick{
	width: 100% !important;
	height: 100% !important;
	display: block;
}

.wrap-color-pick{
	width: 30px;
	height: 30px;
	display: inline-block;
	margin: -3px 10px;
	border: 1px solid #adadad;
	border-radius: 5px;
}